.my-projects .card-wrapper {
    justify-content: flex-start;
}
.my-projects .card {
    padding: 1.5em 1em;
    border-radius: 10px;
    font-size: 1.2em;
}
.my-projects .card:hover {
    box-shadow: 0px 0px 100px #eee;
}
.my-projects .card img {
    margin-bottom: 15px;
    filter: grayscale(1);
}
.my-projects .card:hover img {
    filter: grayscale(0);
}
.my-projects .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}
.my-projects .tag {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 3px 15px;
    border-radius: 5%;
}