header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    display: flex;
    align-items: center;
}
.brand .brand-name {
    color: var(--primary-bg-color);
    margin-right: 20px;
}
.brand .profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}
header .theme-menu ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.theme-menu input[type="radio"] {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.theme-menu input[type="radio"]::after {
    content: '';
    background-color: var(--secondary-bg-color);
    position: absolute;
    width: 102%;
    height: 102%;
    border-radius: 50%;
    transform: translate(-2%, -2%);
}
.theme-menu input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 30%;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    z-index: 1;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%) rotate(-50deg);
}
.theme-menu input[type="radio"]:checked:after {
    outline: 2px solid;
}
.theme-menu input[type="radio"]:focus {
    outline: none;
}
.theme-menu input[type="radio"]:focus-visible::after {
    outline: 2px solid;
    outline-offset: 3px;
}
.theme-menu #pink::after {
    background-color: #E91E63;
}
.theme-menu #blue::after {
    background-color: #0099ff;
}
.theme-menu input[type="radio"]::after,
.theme-menu input[type="radio"]::before {
    pointer-events: none;
}