.workflow {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.workflow .card {
    padding: 40px;
    background-color: var(--secondary-bg-color);
    border-radius: 20% 31% 80% 39%;
}

@media (min-width: 1024px) {
    .workflow {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 6%;
        row-gap: 5em;
    }
    
    .workflow .card {
        display: inline-block;
        max-width: 300px;
    }
}